flask
twilio
openai>=1.12.0
python-dotenv
gunicorn
firebase-admin==6.5.0
google-auth==2.31.0
python-dotenv>=1.0.1,<2
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
stripe==10.10.0
flask-sock==0.7.0 
websocket-client==1.8.0